
*
{
font-family: 'Montserrat', sans-serif ;
color: #a3b0b3 ;
list-style: none ;
text-decoration: none ;
font-size: 15px;
z-index: 300;
}
body
{
    background-color: #000 !important;
}
.navBar a
{
    font-family: 'Montserrat', sans-serif  !important;
    color: #a3b0b3  !important;
    background-color: #000  !important;
    list-style: none !important ;
    text-decoration: none  !important;
    z-index: 100 !important;
    
}
a:hover
{
    color: #00c8f8 !important;
    transition: 1s;
}
ul
{

    display: flex !important;
    flex-direction: row !important;
    align-items: center!important ;
    justify-content: center !important ;
    text-align: center !important;
    margin: 15px auto !important;
    width: 100% !important;
}
.Planes h4
{

    margin-top: 220px;

}
header nav
{
    font-family: 'Montserrat', sans-serif  !important;
    color: #a3b0b3  !important;
    background-color: #000  !important;
    list-style: none !important ;
    text-decoration: none  !important;
    height: 80px !important;
    width: 100% !important ;
    position: fixed !important;
    display: block !important;
    justify-content: space-between!important ;
    align-items: center!important ;
    position: relative !important;
    z-index: 5000 !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
   

}
.registro-perfil button
{
    font-size: 14px;
    background-color: #000;
   
}
.carousel__h3
{
    margin-top: 50px;
    font-size: 2rem;
}

.profile
{
    width: 50px ;
}
.titulo
{
    margin-top: 300px;
font-size: 40px;
text-align: center;
position: relative;
z-index: 2000;
}
h1
{
    margin-top: 100px;
    margin-bottom: 0;
}

h3
{

    margin-top: 0px;
   font-size: 20px;
}

.boton
{
    text-align: center !important;
    position: relative;
    z-index: 2000;
    margin-bottom: 500px;
}
.boton button
{
    color: #000;
    width: 150px;
    height: 40px;
    background: #00a4d3;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    border-radius: 20px ;
    
}
.ultimo
{
border-right: 0px;
}
li:first-child, ul
{
    padding-left: 0;
}
li
{

margin-top: 10px;
padding:0px 10px ;
border-right: 1px solid;

}
section
{
    font-size: 35px;
    text-align: center;
}
h4
{
    margin-bottom: 10px;
}
span
{
    color: #00c8f8;
}
p
{
    margin-top: 0;
    font-size: 12px;
    margin: auto;
    width: 760px;
}
button
{
    cursor: pointer !important;
}
.registro-perfil
{
    position: absolute ;
    top: 0 ;
    right: 0 ;
    display: flex ;
    flex-direction: column ;
  align-items: center ;
  margin-top: 0px;
  margin-right: 15px ;
  float: right ;
}
.registro-perfil button:hover
{
    color: #00c8f8 !important;
    transition: 1s;
}
input, select, option
{
    margin-top: 50px;
	width: 300px;
	height: 50px;
	background: #ffffff;
	color: #000;
	border-color: #c9d3dd;
	border-radius:4px;
	font-size: 15px;
    margin-left: 50px;
    justify-content: center;
}
input:first-child
{
    margin-left: 0px;
}
.nombre-apellido
{
    text-align: center;
}

.numeros
{
    text-align: center;
}
.email, .password
{
    width: 600px;
    margin: 50px auto;
    display: block;
}
.info-personal h3
{
    text-align: center;
    margin-top: 30px ;
    font-size: 40px;
    margin-bottom: 0;
}
.domicilio, .numero-lote
{
    margin: 0;

}
.domicilio-form, .option
{
    text-align: center;
}
.chico {
	width: 142px;
	height: 48px;
}
div h3
{
    text-align: center;
    font-size: 40px;
}
.numero-lote input
{
    margin-top:0 ;
}
.contact
{
    text-align: center;
}
.contenedor-grilla .border {
    border: 2px solid red;
}
.contenedor-grilla {
    margin-top: 0px;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: (2, 1fr) ;
    grid-template-rows: (4, 1fr);
    grid-template-areas:

    "IMG-1 contenedor-lateral-derecho_1"
    "IMG-2 contenedor-lateral-derecho_2"
    "IMG-3 contenedor-lateral-derecho_3"
    "IMG-4 contenedor-lateral-derecho_4"
    ;
z-index: 100;
}

.contenedor-lateral_1 {
    grid-area: contenedor-lateral_1;

}
.contenedor-lateral_2 {
    grid-area: contenedor-lateral_2;

}
.contenedor-lateral_3 {
    grid-area: contenedor-lateral_3;

}
.contenedor-lateral_4 {
    grid-area: contenedor-lateral_4;
}
.IMG-1 {
    grid-area: IMG-1;
}
.IMG-2 {
    grid-area: IMG-2;
}
.IMG-3 {
    grid-area: IMG-3;
}
.IMG-4 {
    grid-area: IMG-4;
}
.contenedor-grilla .IMG-1, .IMG-2, .IMG-3, .IMG-4 {
    width: 100%;
    height: 600px;
    margin-bottom: 0px;

}

.contenedor-grilla-h1
{
    margin-top: 50px;
    display: block;
    opacity: 0.6;
}
.planes_org
{
    display: flex;
    justify-content: space-between;
align-items: center;
margin-left: 50px;
margin-right: 50px;
}


.planes_org p
{
    width: 500px;
}

.planes_org h4
{
    margin-top: 0px;
}

.planes_org button
{
        width: 111px;
        height: 25px;
        padding: 0px 10px 0px 10px;
        background: #000000;
        color: #ffffff;
        border-color: #444444;
        border-width: 2px;
        border-style: solid;
        border-radius: 24px 24px 24px 24px;
        font-family: "Source Sans Pro";
        font-weight: 600;
        font-size: 14px;
        text-align: center;
}
.planes_org a:visited
{
 text-decoration: none;
}
.Planes .aaa
{
    margin-bottom: 50px;
}
.equipamento h4
{
    margin-top: 100px
}

.carousel__img
{
    width: 20%;
}
.conteCarrousel {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.itemCarrouselArrows{

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.conteCarrousel-testi
{
    width: 100%;
    height: 200px;
    overflow: hidden;

}
.div-testimonios
{
    display: inline-block;
    background-color: #00c8f8;
}
.about-us p
{
    font-size: 20px;
}
.descarga img
{
    margin-top: 30px;
    width: 200px;

}

.descarga h3
{
    font-size: 30px;
    margin-top: 80px;
}
.descarga p
{
    font-size: 15px;
}
footer
{
    font-size: 10px;
    margin-top: 100px;
    text-align: center;
}
 section .sexion__h3
{
    margin-top: 100px;
    color: #00a4d3;
}
.tamaño__plan
{
    width: 20% !important;
   font-size: 20px;
}
.arriba
{
    margin-top: 70px;
}

.video
{
    position: relative;
     min-height: 100vh;

}
.video {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .video__gym {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; 

  }
  .magin__mio
  {
    margin-right: 100px;
  }
  .buton_size
  {
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    background: #00a4d3;
    border-radius: 20px ;
    color: #000;
  }
  
.bordesito
{
    border-top: 1px solid 100vh; 
}
.col
{
    position: relative;
}

.table
{
    margin: auto;
}

.letri {
    width: 100%;
	background: #ffffff;
	color: #cccccc;
	border-color: #29323d;
	border-width: 2px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-weight: 700;
	font-size: 20px;
}

.futi{
    padding-top: 70px;
    margin-top: 200px;
    margin-bottom: 40px;
    border-top: 2px solid;
}
.margi
{
    margin-top: 200px;
}
.letra
{

        width: 463px;
        height: 38px;
        color: #929292;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;

}
.grans
{
    font-size: 25px;
}
