
body{
.margen12{
    margin-top: 200px;
}
.divt{
    height: 900px;
    width: 100%;
}
.Carousel1_ZonaM img {
    max-height: 100%;
    max-width: 100%;
   
    object-fit:contain;
}
.Carousel2_ZonaM img {
    max-height: 100%;
    max-width: 100%;
   
    object-fit:contain;
}
.Carousel3_ZonaM img {
    max-height: 100%;
    max-width: 100%;
   
    object-fit:contain;
}
}
