
main{

        span {
            color: #00c8f8;}
        .alto{
                margin-top: 200px;
                margin-bottom: 30px;

                h1
                {
                    font-size: 100px;
                }}
        .botonsito{
            width: 148px;
            height: 42px;
            padding: 0px 10px 0px 10px;
            border-width: 2px;
            border-style: solid;
            border-radius: 24px 24px 24px 24px;
            font-size: 16px;
            text-align: center;
            margin-bottom: 200px; }
        i{
         font-size:2rem;
           margin-right: 7px };
        .parrafillo
        {
    
            margin: auto;
          width: 40%; 
          
            @media (max-width:700px) {
                margin: auto;
          width: 80%; 
          margin-bottom: 100px;
            }
        }
        .estos
        {
            @media(max-width: 760px)
            {
                flex-wrap:wrap;
            }
        }

       
img{

    width:20%   ; 
    height: auto;
}

    .titulo__margi
    {
        margin-top: 100px;
        margin-bottom: 100px;
    }

.about
{
    p{
        margin: auto;
        width: 40%; 
        @media (max-width:700px) {
            margin: auto;
      width: 80%; 
      margin-bottom: 100px;
        }
    }
    .para{
        margin-bottom: 100px;
    }
}
.eliminar 
{
    @media (max-width:767px) {
        margin-right: 0px !important;
        width: 80% !important;
    }
}

}
footer p
{
    margin-top: 100px;
}


